<div class="userhead">
    <mat-form-field>
        <h1>User Home</h1>
        <mat-option><a routerLink="getAllUser">list of users</a></mat-option>
        <mat-option><a routerLink="addUser">add user</a></mat-option>
        <mat-option><a routerLink="deleteUser">delete user</a></mat-option>
        <mat-option><a routerLink="searchUser">search user</a></mat-option>
        <mat-option><a routerLink="updateUser">update user</a></mat-option>
    </mat-form-field>
    <router-outlet></router-outlet>
</div>

