/* Keyframes for fade-in effect */
@keyframes fadeIn {
    from {
      opacity: 0; /* Start invisible */
    }
    to {
      opacity: 1; /* End fully visible */
    }
  }
  
  /* Apply animation to the section */
  .fade-in {
    animation: fadeIn 0.5s ease-in forwards; /* Animate with 0.5s duration */
    align-items: center;
  }

table,tr,td{
    border:1px solid black;
    border-collapse: collapse;
    padding:5px;
}
  